.tileMain{

    height: 160px;
    list-style: none;
    padding: 5px;
    overflow-y: auto;
}

li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 10px;
    outline: 2px solid var(--text);
    margin: 5px 0;
    width: 100%;
}

li a{

    flex-grow: 1;
    text-decoration: none;
    padding: 15px 15px 15px 5px;
    width: 100%;
}

.tileFooter{

    justify-content: right;
}

.popUp{

    background-color: var(--primary);
    color: var(--text);
    padding: 5px;
    outline: 2px solid var(--text) ;
}

.popUp div{

    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popUpHeading i{

    cursor: pointer;
}

#popUpHeadline{

    display: inline-block;
    flex-grow: 1;
    text-align: center;
    text-transform: capitalize;
}
