.tile {

    width: calc(100% / 3 - (3 * 5px));
}

.tileHeading{

    margin: 0;
    padding: 5px;
}

.tile ul {

    height: 90px;
    max-height: 90px;
    padding: 5px;
    list-style: none;
    overflow-y: auto;
    margin: 0;
}

.tileFooter {

    justify-content: right;
}

.task{

    outline: none!important;
    width: fit-content!important;
}

svg{

    display: none!important;
}

svg.active{

    display: inline-block!important;
}

